<html>
  <head>
    <title>Electrogeek.cc - {{ pagename }}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- For code formatting and pretty print: https://github.com/google/code-prettify -->
    <!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->

    <!--  For Highlight.js for color syntac highlighting -->
    <link rel="stylesheet" href="/highlight/styles/default.css">
    <script src="/highlight/highlight.pack.js"></script>

    <!-- Real time syntax highlight with codemirror -->
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <link rel="stylesheet" href="/codemirror/theme/neo.css" />

    <style>
    .CodeMirror {
      width:1200px;
      height: 600px;
      border: solid 1px black;

    }
    </style>

  </head>
<body class="wiki">

<!-- Master table -->
<table  style="background-color:#ebebeb;border-collapse:collapse;max-width:1400px;width:100%;">
  <tr cellpadding="0" cellspacing="0" >
    <td colspan="2" class="template1_header" >
<!-- Header -->
<a href="/"><img src="/files/electrogeek_logo2.png" alt="logo"/></a><!--span style="font-size:24pt;font-weight:bold;">Electrogeek.cc </span><span style="font-size:8pt;">formerly kalshagar.wikispaces.com</span-->
<!-- /Header --></td>
  </tr>
  <tr>
    <td  style="width:150px;vertical-align:top;padding: 10px;">
<!-- Left menu -->
EDIT mode<br/>
{% if None != request.cookies.get('username') %}
Logged in
{% endif %}
<!-- /Left menu --></td>
    <td style="background-color:white;padding: 10px;vertical-align: top;">
<!-- Content -->
{% if not isprod %}
<div style="border: solid 2px red;text-align:center;color:red;background:#FFA0A0;font-weight:bold;"> Non production site - this is the test site !</div>
{% endif %}
<h1 class="PageTitle">Editing '{{ pagename }}'</h1>
<form action="{{ pagename }}" method="POST" id="inputform" enctype="multipart/form-data">

  <!--  Floating buttons : must be in the same for mas the textarea -->
  <div id="divButtons" style="text-align:center;position:fixed; bottom:200px; left:5px; width:80px;">

    {% if None != request.cookies.get('username') %}
    <button type="submit" name="SaveOrPreview" value="Save" style="width:75px;font-weight:bold;color:darkred;">Save</button> 
    <button type="submit" name="SaveOrPreview" value="Preview" style="width:75px;">Preview</button> <br/>

    <br/>
    {% endif %}

    <a href="/{{ pagename }}.html">Cancel edit</a><br/>
  </div>
  <!--  /Floating buttons -->
  

  <div >
  <!-- **************************************************************************************************************** -->
  <textarea  name="text" id="text">{% autoescape false %}{{ pagecontent }}{% endautoescape %}</textarea>
  <!-- **************************************************************************************************************** -->
  </div>


{% if None != request.cookies.get('username') %}
<button type="submit" name="SaveOrPreview" value="Save" style="width:100px;font-weight:bold;color:darkred;">Save</button> 
<button type="submit" name="SaveOrPreview" value="Preview" style="width:100px;">Preview</button> 
{% endif %}
  <a href="/{{ pagename }}.html">Cancel edit</a><br/>

  <!-- Image upload div -->
  <div style="border: solid 1px black;background:#D0D0D0;height:100px;">
    <table style="width:100%;height:100%;">
      <tr>
	<td style="width:100px;display:table-cell; vertical-align:middle; text-align:center;"><img src="/files/photouploadlogo.png" height="80" /></td>
	<td>Choose files to upload: <input type="file" name="imgup" multiple="" /><button type="submit" name="Upload" value="Upload">Upload</button><br/>
	  Recently uploaded files: <span id="recentupload" style="font-family:'Courier New', Courier, monospace;">{% autoescape false %}{{ recentupload }}{% endautoescape %}</span><button type='button'  id="btnCopy" onclick="copyToClipboard(document.getElementById('recentupload').innerHTML)">Copy</button></td>
      </tr>
    </table>
  </div>
  <!-- /Image upload div -->
</form>




<hr/>
<div style="font-width:8px;">
{% autoescape false %}
    {{ testout }}
{% endautoescape %}
</div>
<!-- /Content --></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;font-size:8pt;background-color:#808080;">
<!-- Footer -->
All content on this site is shared under the <span style="font-weight:bold;">MIT licence</span> (do what u want, don't sue me, hat tip appreciated)<br/>
<a href="http://electrogeek.cc">electrogeek.cc</a> ~ Formerly known as Kalshagar.wikispaces.com (AlanFromJapan [2009 - {{ year }}])
<!-- /Footer --></td>
  </tr>
</table>

    <!-- Enable the text zone highlight in realtime -->
    <script type="text/javascript">
      //var myTextArea = document.getElementById("text");

      // Define an extended mixed-mode that understands  and
      // leaves mustache/handlebars embedded templates in html mode
      var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
                       mode: null}]
      };
      
      var editor = CodeMirror.fromTextArea(document.getElementById("text"), {
        mode: mixedMode,
        lineNumbers: true,
        lineWrapping: true,
        selectionPointer: true,
        theme: "neo"
      });
    
    </script>

    <!-- For the copy to clipboard -->
    <script type="text/javascript">
      function copyToClipboard(text) {
        text = text.replace('&lt;', '<').replace('&gt;', '>');
        // Copy the text inside the text field
        navigator.clipboard.writeText(text);
      }
    </script>
</body>
</html>
